body {
    background-color: #AAD4CF;
}


.wrapper {
    background-color: #D4E9E7;
    width: 700px;
    margin: auto;
    position: relative;

}

nav ul {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}



nav li {
    display: inline-block;
    padding: 10px 10px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#img {
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%;
}

#lone-fish {
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

form {
    border: 1px solid black;
    padding: 10px;
}

.picture {
    background-image: url(../images/lone-starfish.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    float: left;
    padding: 20px;
    margin: 10px;
}

#name,
#email,
#message {
    display: block;
    box-sizing: border-box;
    width: 100%;


}

button {
    display: block;
    padding: 10px 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    clear: both;
    text-align: right;
}